.about {
    background: #CBEFFF;

    @include phones() {
        padding-bottom: 50px;
    }

    .about__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @include phones() {
            flex-direction: column;
        }
    }

    .about__content {
        width: 50%;
        justify-content: center;
        align-items: center;

        @include phones() {
            width: 100%;
        }
    }

    .content__text {
        font-size: 18px;
    }

    .about__slider {
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 350px;
        overflow: hidden;

        @include phones() {
            width: 100%;
        }

        .slider__slide {
            height: 350px;
            overflow: hidden;

            .slide__img {
                height: 100%;
            }
        }
    }

    .about__title {
        text-align: center;
    }

    .content__title {
        text-align: center;
    }

    .content__imgs {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        .imgs__item {
            text-align: center;
            font-size: 20px;
        }
    }
}