.about {
    background: #CBEFFF;

    .about__container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .about__content {
        width: 50%;
        justify-content: center;
        align-items: center;
    }

    .content__text {
        font-size: 18px;
    }

    .about__slider {
        justify-content: center;
        align-items: center;
        width: 50%;
    }

    .about__title {
        text-align: center;
    }

    .content__title {
        text-align: center;
    }

    .content__imgs {
        display: flex;
        justify-content: space-around;
        width: 100%;
        align-items: center;

        .imgs__item {
            text-align: center;
            font-size: 20px;
        }
    }
}