.footer {
    padding-top: 50px;
    padding-bottom: 50px;

    .footer__container {
        flex-direction: row;

        @include phones() {
            flex-direction: column;
        }
    }

    .footer__left {
        display: flex;  
        flex-direction: column;
        width: 45%;

        @include phones() {
            width: 100%;
        }

        .left__title {
            margin: 0;
            text-align: center;
        }

        .left__link {
            color: #000000;
            text-decoration: none;
            transition: .3s;

            &:hover {
                color: $red;
                text-decoration: underline;
            }
        }
    }

    .footer__right {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        width: 45%;

        @include phones() {
            width: 100%;
        }
    }
    
    .right__btn {
        width: 100%;
        font-size: 14px;
        margin-top: 20px;
    }

    .right__soc {
        display: flex;
        align-items: center;

        @include phones() {
            flex-wrap: wrap;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        .soc__item {
            margin-right: 20px;
        }

        .soc__item--phone {
            @include phones() {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 0;
            }
        }

        .item__link {
            font-size: 36px;
            color: rgb(0, 125, 179);
            transition: .3s;
            text-decoration: none;

            &-phone {
                font-size: 20px;
            }

            &:hover {
                color: $red;
            }
        }
    }
}