.header {
    display: flex;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 10;

    .header__container {
        flex-direction: row;
        align-items: center;
        width: 100%;
        padding-top: 30px;

        @include laptop() {
            flex-direction: column;
            position: relative;
            padding-top: 0;
        }
    }

    .header__link {
        margin-right: auto;
        text-decoration: none;
        transition: .3s;

        @include laptop() {
            margin-right: initial;
            order: -2;
        }
        
        &:hover {

            .header__logo {
                color: $red;
            }
        }

        .header__logo {
            font-size: 18px;
            font-style: bold;
            transition: .3s;

            @include horizon() {
                font-size: 24px;
            }
    
            .logo__color {
                color: $red;
                transition: .3s;
            }
        }
    }

    .header__cont {
        display: flex;
        text-decoration: none;
        color: #ffffff;
        transition: .3s;
        align-items: center;
        justify-content: center;

        &:hover {
            color: $red;
        }

        .phone__img {
            margin-right: 10px;
        }
    }

    .header__contacts {
        display: flex;

        @include tablets() {
            flex-direction: column;
            align-items: center;
        }
    }

    .header__socials {
        display: flex;
    }

    .contacts__item {
        color: #ffffff;
        margin-right: 30px;

        @include tablets() {
            margin-right: 0;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 10px;
        }
        
        .item__img {
            margin-right: 10px;
        }
    }

    .header__menu {
        background: none;
        border: none;
        display: flex;
        align-items: center;
        color: #ffffff;
        cursor: pointer;

        @include laptop() {
            order: -1;
        }

        @include tablets() {
            position: absolute;
            top: 15px;
            right: 15px;
        }

        &:focus {
            outline: none;
        }
        
        &:hover {
            color: $red;

            @include horizon() {
                color: #ffffff;
            }

            .menu__img {
                transform: rotate(90deg);
                margin-left: 0;

                @include horizon() {
                    transform: rotate(0deg);
                    margin-left: 10px;
                }
            }
        }

        .menu__img {
            margin-left: 10px;
            transition: .3s;
            opacity: 1;
            width: inherit;

            &--active {
                opacity: 0;
                width: 0;
            }
        }

        .menu__text {
            opacity: 1;
            transition: .3s;
            width: inherit;

            &--active {
                opacity: 0;
                width: 0;
            }
        }

        .menu__close {
            opacity: 0;
            margin: 0;
            transition: .3s;
            width: 0;

            &--active {
                opacity: 1;
                width: inherit;
            }
        }

        .menu__plus {
            opacity: 0;
            transition: .3s;
            width: 0;

            &--active {
                opacity: 1;
                transform: rotate(45deg);
                font-size: 36px;
                margin: 0;
                margin-left: 5px;
                width: inherit;
            }
        }
    }
}