.time {
    background: #CBEFFF;
    padding-top: 50px;
    padding-bottom: 50px;

    .time__container {
        align-items: center;
        justify-content: center;
    }

    .time__timer {
        width: 100%;

        @include tablets() {
            display: none;
        }
    }

    .time__title {
        text-align: center;
    }

    .time__timer-mobile {
        display: none;
        overflow: hidden;

        @include tablets() {
            display: block;
            width: 100%;
        }
    }

    .time__about {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin-top: 50px;

        @include phones() {
            flex-direction: column;
        }

        .about__btn {
            @include phones() {
                width: 100%;
            }
        }
    }
}