.container {
  max-width: 1170px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.42;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  position: relative;
}

.title {
  font-style: bold;
  font-size: 48px;
  line-height: 68px;

  @include tablets() {
    font-size: 30px;
    line-height: initial;
  }
}

.button {
  height: 50px;
  border-radius: 4px;
  width: 370px;
  border: none;
  background: $red;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
  font-style: bold;
  cursor: pointer;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  padding: 10px;

  &:hover {
    background: darken($color: $red, $amount: 15);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

*, *::before, *::after {
box-sizing: border-box;
}

ul {
margin: 0;
padding: 0;
list-style: none;
}