<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>круглосуточная клиника Москва, семейный врач в ВАО, семейная клиника Шоссе Энтузиастов, врач на дом срочно,
        годовая медицинская программа</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="./assets/styles/main.css">
</head>

<body>
    <div class="wrapper">
        <header class="header">
            <div class="container header__container">
                <a href="./index.html" class="header__logo"><img src="./assets/images/logo.png" alt="#" class="logo__img"></a>
                <ul class="header__soc">
                    <li class="soc__item soc__item--phone">
                        <a href="tel:+79670171343" class="item__link item__link-phone">
                            <i class="fas fa-phone"></i>
                            <b>+7(967) 017-13-43</b>
                        </a>
                    </li>
                    <li class="soc__item"><a href="#" class="item__link"><i class="fab fa-instagram"></i></a></li>
                    <li class="soc__item"><a href="#" class="item__link"><i class="fab fa-telegram"></i></a></li>
                    <li class="soc__item"><a href="#" class="item__link"><i class="fab fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </header>
        <section class="section anketa">
            <div class="container anketa__container">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf7PZHryPO4cIJz2mq9eVAP-Dth-6DZLDJQpHub-7_TY6qmFQ/viewform?embedded=true" width="100%" height="2314" frameborder="0" marginheight="0" marginwidth="0">Загрузка...</iframe>
            </div>
        </section>
        <footer class="footer">
            <div class="container footer__container">
                <div class="footer__left">
                    <p class="left__text">Адрес: г. Москва проспект Буденова д. 51 корп. 3</p>
                </div>
                <div class="footer__right">
                    <ul class="right__soc">
                        <li class="soc__item soc__item--phone">
                            <a href="tel:+79670171343" class="item__link item__link-phone">
                                <i class="fas fa-phone"></i>
                                <b>+7(967) 017-13-43</b>
                            </a>
                        </li>
                        <li class="soc__item"><a href="#" class="item__link"><i class="fab fa-instagram"></i></a></li>
                        <li class="soc__item"><a href="#" class="item__link"><i class="fab fa-telegram"></i></a></li>
                        <li class="soc__item"><a href="#" class="item__link"><i class="fab fa-whatsapp"></i></a></li>
                    </ul>
                    <a href="./assets/images/present.pdf" class="button right__link">Посмотреть брошюру</a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
</body>

</html>